.App {
  margin: 0;
}
/* body {
    overflow-x: hidden;
    font-weight: 300;
    position: relative;
    font-family: nunito sans,sans-serif;
    background-color: #fff;
    color: #1b1b20;
} */

.compnie-grid {
  display: flex;
  width: 80%;
  margin: auto;
}
.logo_grid{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content:space-between;
  align-items:center;
 

}